@model IEnumerable<HourCalcMVC.Models.DailyHour>;

@{
    ViewData["Title"] = "Work Hour Calculator";
    var id = ViewBag.Id;
    int hours = 0;
    int minutes = 0;
    int firstShift = 0;
    int secondShift = 0;
    TimeSpan TotalTime = new TimeSpan();

    var months = new Dictionary<int, string>
    {
                {1, "Styczeń" },
                {2, "Luty" },
                {3, "Marzec" },
                {4, "Kwiecień" },
                {5, "Maj" },
                {6, "Czerwiec" },
                {7, "Lipiec" },
                {8, "Sierpień" },
                {9, "Wrzesień" },
                {10, "Październik" },
                {11, "Listopad" },
                {12, "Grudzień" },
    };
    var mon = months.FirstOrDefault(m => m.Key == id).Value;
    @foreach (var item in Model.Where(m => m.Date.Month == id))
    {
        hours += DateTime.Parse(item.Total).Hour;
        minutes += DateTime.Parse(item.Total).Minute;
        TotalTime = TotalTime.Add(TimeOnly.FromDateTime(DateTime.Parse(item.Total)).ToTimeSpan());
        if(item.Shift == "First")
        {
            firstShift += 1;
        }
        else if(item.Shift == "Second")
        {
            secondShift += 1;
        }
    }
}
@if (TotalTime.Days >= 1)
{
    hours = TotalTime.Days * 24 + TotalTime.Hours;
    minutes = TotalTime.Minutes;
}
else
{
    hours = TotalTime.Hours;
    minutes = TotalTime.Minutes;
}
<div class="text-center">
    <h1 class="display-4">@mon</h1>
     @if(minutes == 0)
        {
        <h4>
            Total time @hours.ToString("00")
        </h4>
        }else
        {
        <h4>
            Total time @hours.ToString("00"):@minutes.ToString("00")
        </h4>
        }
    <p>Ilość pierwszych zmian: @firstShift</p>
    <p>Ilość drugich zmian: @secondShift</p>

    
</div>
@foreach (var item in Model.Where(m => m.Date.Month == id).OrderBy(d => d.Date))
{
    <div class="rounded border border-dark p-2 m-2 bg-main">
        <p>Started at: @item.StartingHour.ToString("HH:mm")</p>
        <p>Ended at: @item.EndingHour.ToString("HH:mm")</p>
        <p>@item.Date.ToString("d")</p>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </div>
}
